/*
.navbar-text > a {
	color: inherit;
	text-decoration: none;
}
*/

.navbar-default {
	background-color: #663883;
	border-bottom: 2px solid;
	border-color: #663883;
	color: rgba(102, 56, 130, 0.55);
}

.navbar-default .navbar-brand {
	color: #663883;
	font-size: 18px;
	text-transform: uppercase;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
	background-color: #663883;
}

.navbar-default .navbar-nav > li > a {
	color: #663883;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #663883;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #663883;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #663883;
	color: #fff;
}

.jumbotron {
	color: #fff;
	background-color: #663883;
	padding: .0px;
}

.j-inverse, thead {
	color: #663883;
	background-color: rgba(102, 56, 130, 0.18);
	padding: 0px;
}

img {
	max-width: 100%;
}

.debug {
	border: 1px dashed black;
}
.debug-light {
	background-color: gray;
	color: white;
}

.debug-red {
	background-color: #f31111;
	color: white;
}

.debug-green {
	background-color: #008100;
	color: white;
}

.debug-blue {
	background-color: #0000fa;
	color: white;
}

.debug-yellow {
	background-color: #fdfd00;
	color: white;
}


body {
	padding: 85px 0px;
}


table thead {
	font-size: 24px;
	background-color: rgba(102, 56, 130, 0.18);
	color: #663883;
}

table tbody {
	font-size: 20px;
}
.table-striped {
	background-color: rgba(102, 56, 130, 0.1);
}
.embedded {
	 position: relative;
	 padding-bottom: 75%;
	 height: 0;
	 overflow: hidden; 
}


/* Link
______________________________________________________ */	

a {
	color: rgba(102, 56, 130, 9.0);
}

a:hover {
	color: #000;
}

a:visited {
	color: #fff;
}
	
	 
/* Text
______________________________________________________ */	 



/* Footer
______________________________________________________ */
ul.social {
	display: block;
	margin: 5% 0;
	list-style-type: none;
	text-align: center;
}

ul.social li {
	font-size: 3em;
	display: inline;
	padding: 0 2%;
}

ul.social li a {
	color: rgba(102, 56, 130, 0.5);
}

ul.social li.facebook a:hover {color: rgb(59,89,152);}
ul.social li.twitter a:hover {color: rgb(0, 172, 237);}
ul.social li.instagram a:hover {color: rgb(81, 127, 237);}
ul.social li.youtube a:hover {color: rgb(187, 0, 0);}
ul.social li.flickr a:hover {color: rgb(255, 0, 132);}
ul.social li.linkedin a:hover {color: rgb(0, 123, 182);}
ul.social li.yelp a:hover {color: #af0606;}

p.copyright {
	text-align: center;
	color: #ccc;
	font-size: 1em;
}



	 
	 
/* Separators
______________________________________________________ */

.empty_box_wide {
	padding: 10px 0px; }

.empty_box_narrow {
	padding: 3px 0px; }
	
.empty_box_tiny {
	padding: 1px 0px; }
	
.empty_box_medium {
	padding: 6px 0px; }
	
/* Colors
______________________________________________________ */	
.purple { background-color: #663883; }

.white { background-color: #fff; }

.black { background-color: #000; }


/* Bottom Fixed Navbar
______________________________________________________ */	

.textColor_navbar_fixed { color: #663883; }


