/*
.navbar-text > a {
	color: inherit;
	text-decoration: none;
}
*/

.navbar-default {
	background-color: #663883;
	border-bottom: 2px solid;
	border-color: #663883;
	color: rgba(102, 56, 130, 0.55);
}

.navbar-default .navbar-brand {
	color: #663883;
	font-size: 18px;
	text-transform: uppercase;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
	background-color: #663883;
}

.navbar-default .navbar-nav > li > a {
	color: #663883;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #663883;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #663883;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #663883;
	color: #fff;
}

.jumbotron {
	color: #fff;
	background-color: #663883;
	padding: 0px;
}

.j-inverse, thead {
	color: #663883;
	background-color: rgba(102, 56, 130, 0.18);
	padding: 0px;
}

img {
	max-width: 100%;
}

.debug {
	border: 1px dashed black;
}
.debug-light {
	background-color: gray;
	color: white;
}

body {
	padding: 85px 0px;
}
table thead {
	font-size: 24px;
	background-color: rgba(102, 56, 130, 0.18);
	color: #663883;
}
table tbody {
	font-size: 20px;
}
.table-striped {
	background-color: rgba(102, 56, 130, 0.1);
}
.embedded {
	 position: relative;
	 padding-bottom: 75%;
	 height: 0;
	 overflow: hidden; 
}
	 
	 
	 
	 
/* Text
______________________________________________________ */	 






	 
	 
/* Separators
______________________________________________________ */

.empty_box_wide {
	padding: 10px 0px; }

.empty_box_narrow {
	padding: 3px 0px; }
	
.empty_box_tiny {
	padding: 1px 0px; }
	
.empty_box_medium {
	padding: 6px 0px; }
	
/* Colors
______________________________________________________ */	
.purple { background-color: #663883; }

.white { background-color: #fff; }

.black { background-color: #000; }
